@import "../global/colors";

#sudoku-container {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    border: 4px solid rgb(35, 35, 35);
    margin-bottom: 20px;
}

.cell {
    height: 50px;
    border: .1px solid rgb(146, 146, 146);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.cell:nth-child(3n) {
    border-right: 2px solid rgb(35, 35, 35);
}

.cell:nth-child(9n) {
    border-right: none;
}

.cell:nth-child(n + 19):nth-child(-n + 27),
.cell:nth-child(n + 46):nth-child(-n + 54) {
    border-bottom: 3px solid rgb(35, 35, 35);
}

.cell.locked {
    background-color: #eee;
    pointer-events: none;
    color: $color-blue;
    /* Prevent clicking */
}

.cell.incorrect {
    color: red;
}